@import "../color";

.foot-page {
  width: 100vw;
  height: 395px;
  padding: 32px 0;

  .foot-box{
    width: 1180px;
    height: 300px;
    margin: 0 auto;
    background: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .scroll-box{
      width: 850px;
      height: 300px;
      background: skyblue;
    }
    .show-tip{
      width: 310px;
      height: 300px;
      background: #61DDDC;
    }

  }



}
